@import './utils/presets.scss';
@import './mixins/media.scss';

// Intro section
.intro {
  position: relative;
  text-align: center;
  padding-top: 4rem;
  width: 100%;

  @include for-tablet-portrait-up {
    margin-bottom: 0;
  }

  & h4 {
    font-size: 2rem;
    font-weight: 400;
    position: relative;
    color: $primaryColor;

    @include for-tablet-portrait-up {
      font-size: 2.6rem;
    }
    @include for-tablet-landscape-up {
      font-size: 3rem;
    }
    &::before {
      content: '';
      position: absolute;
      border-bottom: 2px solid #fff;
      height: 0.4rem;
      width: 3%;
      top: 50%;
      left: 24%;
      transform: translateY(-50%);

      @include for-tablet-portrait-up {
        left: 34%;
        width: 2%;
      }
      @include for-desktop-up {
        left: 41%;
      }
    }
    &::after {
      content: '';
      position: absolute;
      border-bottom: 2px solid #fff;
      height: 0.4rem;
      width: 3%;
      top: 50%;
      right: 24%;
      transform: translateY(-50%);

      @include for-tablet-portrait-up {
        right: 34%;
        width: 2%;
      }
      @include for-desktop-up {
        right: 41%;
      }
    }
  }

  & h2 {
    font-size: 2.4rem;
    font-weight: 200;
    width: 90%;
    margin: 0 auto 2rem auto;
    text-transform: capitalize;

    @include for-tablet-portrait-up {
      font-size: 3rem;
      width: 60%;
    }
    @include for-tablet-landscape-up {
      font-size: 4.2rem;
    }
    @include for-desktop-up {
      font-size: 4.8rem;
    }
  }

  & p {
    font-size: 1.4rem;
    width: 85%;
    font-weight: 300;
    margin: 0 auto;
    color: $textGray;
    letter-spacing: 0.17rem;

    @include for-tablet-portrait-up {
      font-size: 1.4rem;
      width: 60%;
    }
    @include for-tablet-landscape-up {
      font-size: 1.8rem;
    }
  }
  &::before {
    content: '';
    background: url('../public/worldmap.png') center no-repeat;
    background-size: contain;
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;

    @include for-tablet-portrait-up {
      height: 90%;
    }
    @include for-desktop-up {
      height: 120%;
    }
    @include for-big-desktop-up {
      height: 120%;
    }
  }
}

// Core Values Section
.coreValues {
  padding: 0 2rem;

  @include for-tablet-portrait-up {
    padding: 0 2rem;
  }

  @include for-desktop-up {
    padding: 0 20%;
  }

  & h4 {
    color: $primaryColor;
    font-size: 1.8rem;
    font-weight: 400;
    position: relative;

    @include for-tablet-portrait-up {
      font-size: 2rem;
    }

    &::after {
      content: '';
      position: absolute;
      border-bottom: 2px solid $primaryColor;
      height: 0.4rem;
      width: 3%;
      top: 50%;
      transform: translateY(-50%);
      left: 10.5rem;

      @include for-tablet-portrait-up {
        left: 11.5rem;
        width: 2%;
      }
    }
  }

  & .values {
    display: flex;
    flex-direction: column;

    @include for-tablet-portrait-up {
      height: 20rem;
      flex-direction: row;
      justify-content: space-between;
    }

    & .valueItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }
      @include for-tablet-portrait-up {
        &:not(:last-child) {
          margin-bottom: 0rem;
        }
      }

      & .valueDetails {
        text-align: center;
        & span {
          color: $primaryColor;
          font-size: 1.8rem;

          @include for-tablet-portrait-up {
            font-size: 1.8rem;
          }
          @include for-tablet-landscape-up {
            font-size: 2rem;
          }
        }

        & p {
          font-size: 1.5rem;
          color: $textGray;
          font-weight: 200;

          @include for-tablet-portrait-up {
            font-size: 1.5rem;
          }
          @include for-tablet-landscape-up {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

// Mission section
.mission {
  background-color: $primaryColor;
  margin-top: 6rem;
  color: $textDark;
  padding: 2rem;

  & h4 {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 400;
    position: relative;

    @include for-tablet-portrait-up {
      font-size: 2rem;
    }
    @include for-tablet-landscape-up {
      margin-right: 10rem;
    }

    &::before {
      content: '';
      position: absolute;
      border-bottom: 2px solid $textDark;
      height: 0.4rem;
      width: 3%;
      top: 50%;
      transform: translateY(-50%);
      right: 11.5rem;

      @include for-tablet-portrait-up {
        right: 12rem;
        width: 2%;
      }
    }
  }

  & p {
    font-size: 1.6rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-weight: 200;

    @include for-tablet-portrait-up {
      font-size: 1.8rem;
    }
    @include for-tablet-landscape-up {
      font-size: 2rem;
      width: 70%;
    }
  }
}
