@import './utils/presets.scss';
@import './mixins/media.scss';

.footer {
  display: flex;
  font-size: 1.2rem;
  color: #e0e0e0;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40rem;
  line-height: 1.75rem;
  background-color: rgba($color: #090b0e, $alpha: 0.9);
}

.footerDetails {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 4rem 2rem;

  @include for-tablet-landscape-up {
    flex-direction: row;
    padding: 4rem 0;
    justify-content: space-evenly;
  }
}
.addresses {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  margin: 0 0 2rem 0;

  @include for-tablet-landscape-up {
    margin: 0;
  }
}
.links {
  margin: 0 0 2rem 0;
  @include for-tablet-landscape-up {
    margin: 0;
  }
}
.subTitle {
  color: #fff;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 600;
}
.contents {
  margin-top: 1rem;
}
.icons {
  margin-top: 1rem;

  & a {
    margin-right: 0.6rem;
  }
}
.linksItem {
  transition: all 0.3s ease;
  &:hover {
    border-bottom: 1px solid $primaryColor;
  }
}
.copyright {
  padding: 2rem 0;
  text-align: center;
  background-color: $secondaryColor;
}
