@import './utils/presets.scss';
@import './mixins/media.scss';

.footer {
  display: flex;
  font-size: 1.2rem;
  color: #e0e0e0;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40rem;
  line-height: 1.75rem;
  background-color: rgba($color: #090b0e, $alpha: 0.9);
}

.footerDetails {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 4rem 2rem;

  @include for-tablet-landscape-up {
    flex-direction: row;
    padding: 4rem 0;
    justify-content: space-evenly;
  }
}
.addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 2rem 0;

  @include for-tablet-landscape-up {
    margin: 0;
    width: 40%;
  }

  & .address {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
    @include for-tablet-landscape-up {
      margin-bottom: 0;
    }

    & .contents {
      margin-top: 1rem;
    }
  }
}
.subTitle {
  color: $primaryColor;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 600;

  @include for-tablet-landscape-up {
    font-size: 1.6rem;
  }
}
.links {
  margin: 2rem 0 2rem 0;
  @include for-tablet-landscape-up {
    margin: 0;
  }
}

.communities {
  display: flex;
  flex-direction: column;
  & .subTitle {
    text-align: center;
  }
}

.icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  & a {
    margin-right: 0.6rem;
    &:hover {
      color: $primaryColor;
    }
  }
}
.linksItem {
  transition: all 0.3s ease;
  &:hover {
    border-bottom: 1px solid $primaryColor;
  }
}
.copyright {
  padding: 2rem 0;
  text-align: center;
  background-color: $secondaryColor;
}
