@import './utils/presets.scss';
@import './mixins/media.scss';

.services {
  margin: 4rem 0;

  &_intro {
    text-align: center;

    & h4 {
      font-size: 2rem;
      font-weight: 200;
      margin: 0 auto 2rem auto;
      text-transform: capitalize;

      @include for-tablet-portrait-up {
        font-size: 3rem;
      }
      @include for-tablet-landscape-up {
        font-size: 3.2rem;
      }
      @include for-desktop-up {
        font-size: 4rem;
      }
    }

    & p {
      color: $primaryColor;
      width: 90%;
      font-size: 1.6rem;
      text-align: center;
      margin: 0 auto;
      font-weight: 300;
      letter-spacing: 0.17rem;

      @include for-tablet-portrait-up {
        font-size: 1.8rem;
        width: 80%;
      }
      @include for-tablet-landscape-up {
        width: 70%;
        font-size: 2rem;
      }
      @include for-desktop-up {
        width: 45%;
        font-size: 2.2rem;
      }
    }
  }

  &_list {
    margin: 5rem 0;
    padding: 0 2rem;

    @include for-tablet-portrait-up {
      padding: 0 4rem;
      margin: 6rem 0;
    }
    @include for-tablet-landscape-up {
      padding: 0 8rem;
    }
    @include for-desktop-up {
      padding: 0 9rem;
    }
    @include for-big-desktop-up {
      padding: 0 10rem;
    }
  }

  &_listItemOne {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px dotted $primaryColor;

    @include for-tablet-portrait-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &Title {
      @extend .centralize;
      width: 100%;
      height: 100%;
      font-size: 1.8rem;
      padding: 1.6rem;
      text-align: center;
      background-color: $primaryColor;

      @include for-tablet-portrait-up {
        text-align: left;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        font-size: 1.8rem;
        width: 70%;
      }
      @include for-tablet-landscape-up {
        font-size: 2.2rem;
      }
      @include for-desktop-up {
        font-size: 2.5rem;
      }
      @include for-big-desktop-up {
        font-size: 3.4rem;
      }
    }
    &Details {
      padding: 2rem;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      font-weight: 300;
      color: $primaryColor;

      & ul > li {
        line-height: 3.175rem;
        list-style-type: disc;
      }
    }
    &Button {
      transition: all ease 0.3s;
      margin-left: 2rem;
      margin-top: 2rem;
      padding: 1rem 1.2rem;
      background-color: $primaryColor;
      color: $secondaryColor;
      border: none;
      border-radius: 0.2rem;
      outline: none;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 1.4rem;
      width: 12rem;
      cursor: pointer;

      &:hover {
        background-color: darken($primaryColor, 10);
      }
    }
  }

  &_listItemTwo {
    @extend .services_listItemOne;
    background-color: $primaryColor;
    border: 2px dotted $secondaryColor;
    margin: 2rem 0;
    flex-direction: column-reverse;

    &Title {
      @extend .centralize;
      height: 100%;
      width: 100%;
      font-size: 1.6rem;
      justify-self: end;
      padding: 2rem;
      text-align: center;
      background-color: $secondaryColor;

      @include for-tablet-portrait-up {
        text-align: right;
        width: 70%;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        font-size: 1.8rem;
      }
      @include for-tablet-landscape-up {
        font-size: 2.2rem;
      }
      @include for-desktop-up {
        font-size: 2.5rem;
      }
      @include for-big-desktop-up {
        font-size: 3.4rem;
      }
    }
    &Details {
      padding: 2rem;
      font-size: 1.4rem;
      letter-spacing: 0.17rem;
      font-weight: 300;
      color: $secondaryColor;

      & ul > li {
        line-height: 3.175rem;
        list-style-type: disc;
        margin-left: 2rem;
      }
    }
    &Button {
      @extend .services_listItemOneButton;
      background-color: $primaryColor;
      border: 2px solid $secondaryColor;
      color: $secondaryColor;

      &:hover {
        background-color: darken($primaryColor, 10);
      }
    }
  }
}
